<section class="phone">
<phone>541-639-1607</phone>
</section>
<nav>
  <ul>    
    <li>Locations</li>
    <li>Photos</li>
    <li>About us</li>
  </ul>
</nav>
<section class="summary">
<h1>Pimp ass storage</h1>
<p>
  We realize that you have options when looking for a storage provider. We'll work to make sure you are 100% satisfied with your decision. 
</p>
<p>
  As one of the top operators in the Western United States, we are dedicated to providing our customers with the most professional, safe and convenient storage option.
</p>

</section>