
	  <header> 
	    <h1>StorQuest</h1>
    </header>     
    <section id="main" class="content">
		  <%= yield %>
		</section>
		<footer>
		  <ul>
        <li><a href="http://www.g5platform.com">View full site</a></li>
        <li class="fn org">G5</li>
		  </ul>
      </ul>
		</footer>
		<script src="http://s7.addthis.com/js/250/addthis_widget.js#username=g5platform"></script>
