<!--<figure>
  <%= image_tag "stock.jpg"%>
</figure>-->
<nav class="header_full">
    Find a location
</nav>
<nav>
  <ul>
    <li><%= link_to 'Browse locations', '/states' %></li>
  </ul>
</nav>
<section class="summary">
  <h1>Pimp ass storage</h1>
  <p>
    As one of the top operators in the Western United States, we provide you with the most professional, safe and convenient storage option.
  </p>
  <hr class="sexy_line">
  <strong>Better quality, better service</strong>
  <p>
    Come take a tour and see why 80% of customers who visit our stores rent from us at their first visit.
</section>
