<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8"/>
		<title>Mobile - Lite</title>
		<link rel="shortcut icon" href="/favicon.png"> 
	
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<link rel="stylesheet" media="all" href="/stylesheets/g5platform.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
		<!-- Add "maximum-scale=1" to fix the Mobile Safari auto-zoom bug on orientation changes, 
			but keep in mind that it will disable user-zooming completely. Bad for accessibility. -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
	</head>

	<body>
	  <header> 
	    <h1>StorQuest</h1>
    </header>     
    <section id="main" class="content">
		  <%= yield %>
		</section>
		<footer>
		  <ul>
        <li><a href="http://www.g5platform.com">View full site</a></li>
        <li class="fn org">G5</li>
		  </ul>
      </ul>
		</footer>
		<script src="http://s7.addthis.com/js/250/addthis_widget.js#username=g5platform"></script>
	</body>
	
</html>
