<nav class="locations">
  <ul>
    <li><%= link_to 'StorQuest RV/Boat and Storage', '/facility' %></li>
    <li><%= link_to 'StorQuest Self Storage', '/facility' %></li>
    <li><%= link_to 'StorQuest Express Storage', '/facility' %></li>
  </ul>
</nav>
