<nav class="header_full">
    Find a location > States > Cities > Stores
</nav>
<nav class="locations">
  <ul>
    <li><%= link_to 'StorQuest RV/Boat', '/facility' %></li>
    <li><%= link_to 'StorQuest Self Storage', '/facility' %></li>
    <li><%= link_to 'StorQuest Express Storage', '/facility' %></li>
  </ul>
</nav>
