<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/favicon.png">
  <title>Mobile - Lite</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <!-- Add "maximum-scale=1" to fix the Mobile Safari auto-zoom bug on orientation changes,
    but keep in mind that it will disable user-zooming completely. Bad for accessibility. -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <header>
    <h1>StorQuest</h1>
  </header>
  <section class="container">
    <%= yield %>
  </section>
  <footer>
    <ul>
      <li><a href="http://www.g5platform.com">View full site</a></li>
      <li>Powered by <a href="http://g5platform.com">G5</a></li>
    </ul>
  </footer>
</body>
</html>
